{{define "input"}}
<input
  type="{{.Type}}"
  name="{{.Name}}"
  alt="{{.Alt}}"
  {{if.Autocomplete}}
  autocomplete="{{.Autocomplete}}"
  {{end}}
  {{if.Autofocus}}
  autofocus="{{.Autofocus}}"
  {{end}}
  {{if.Checked}}
  checked="{{.Checked}}"
  {{end}}
  {{if.Dirname}}
  dirname="{{.Dirname}}"
  {{end}}
  {{if.FormId}}
  form="{{.FormId}}"
  {{end}}
  {{if.FormAction}}
  formaction="{{.FormAction}}"
  {{end}}
  {{if.FormMethod}}
  formmethod="{{.FormMethod}}"
  {{end}}
  {{if.FormNoValidate}}
  formnovalidate="{{.FormNoValidate}}"
  {{end}}
  {{if.FormTarget}}
  formtarget="{{.FormTarget}}"
  {{end}}
  {{if.Height}}
  height="{{.Height}}"
  {{end}}
  {{if.List}}
  list="{{.List}}"
  {{end}}
  {{if.Max}}
  max="{{.Max}}"
  {{end}}
  {{if.MaxLength}}
  maxlength="{{.MaxLength}}"
  {{end}}
  {{if.Min}}
  min="{{.Min}}"
  {{end}}
  {{if.MinLength}}
  minlength="{{.MinLength}}"
  {{end}}
  {{if.Multiple}}
  multiple="{{.Multiple}}"
  {{end}}
  {{if.Pattern}}
  pattern="{{.Pattern}}"
  {{end}}
  {{if.Readonly}}
  readonly
  {{end}}
  placeholder="{{.Placeholder}}"
  class="bg-white text-black min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 shadow-md ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
/>
{{end}}
