{{define "content"}}
<div class="h-screen w-screen flex justify-center items-center">
  <div class="shadow-lg p-16 rounded flex flex-col justify-evenly">
    <h1 class="font-semibold text-center text-black my-2">Login Page</h1>
    <form class="flex flex-col gap-2" hx-post="/events/login">
      {{template "input" .UsernameInput}} {{template "input" .PasswordInput}}
      {{template "button" .LoginButton}}
    </form>
    <div class="w-auto mx-0 my-2">{{template "button" .ResetPassword}}</div>
  </div>
</div>
{{end}}
