package views

templ ReloadScript() {
	<script>
  const evtSource = new EventSource("/server/sent/event/browser/reload");
  evtSource.onmessage = function (_) {
    window.location.reload();
  };
</script>
}
