package views

templ ReloadScript() {
	<script>
  try {
    const evtSource = new EventSource("/server/sent/event/browser/reload");
    evtSource.onmessage = function (_) {
      window.location.reload();
    };
  } catch (_) { }
</script>
}
