package pages

import "github.com/richard-egeli/htd/views"

templ loginPage() {
<div>
  <div class="flex justify-center">
    <p class="flex">Hello, World</p>
  </div>
</div>
}

templ LoginLayout() {
@views.BaseLayout("Login Page") {
@loginPage()
}
}
