package pages

import "net/http"

type PagesData struct {
	HtdData *HtdData
}

templ body() {
	<body>
		<h1 id="hello" style="min-height: 24px;">
			Welcome to my page builder
		</h1>
	</body>
}

templ Pages(w http.ResponseWriter, r*http.Request, data *PagesData) {
	if r.Header.Get("HX-Request") == "true" {
		@body()
	} else {
		@HtdPage(w, r, data.HtdData) {
			@body()
		}
	}
}
