package pages

import "net/http"
import "github.com/richard-egeli/htd/views/layout"

type SettingsData struct {
	SidebarData *layout.SidebarData
}

templ SettingsPage(w http.ResponseWriter, r* http.Request, data *SettingsData) {
	@layout.SidebarLayout(w, r, data.SidebarData) {
		<h1>Settings Page</h1>
	}
}
